@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
     font-family: "Abril Fatface", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.heading{
    font-size: 9rem;
    font-weight: 900;
    background: url(https://tse4.mm.bing.net/th/id/OIP.d4f3ZFNIAmUHUUeooH6enwHaEK?pid=Api&P=0&h=180);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

